[submodule "ros2_ws/src/flexbe_behavior_engine"]
	path = ros2_ws/src/flexbe_behavior_engine
	url = https://github.com/FlexBE/flexbe_behavior_engine.git
[submodule "ros2_ws/src/flexbe_app"]
	path = ros2_ws/src/flexbe_app
	url = https://github.com/FlexBE/flexbe_app.git
	branch = ros2-devel
